 .u-section-1 {
  min-height: 617px;
  background-image: url("images/NEWS.jpg");
  background-position: 50% 31.34%;
}

.u-section-1 .u-image-1 {
  height: 55px;
  margin-top: 140px;
  margin-bottom: 0;
}

.u-section-1 .u-image-2 {
  height: 55px;
  margin-top: 368px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 509px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 390px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 293px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 49.8% 31.34%;
    min-height: 184px;
  }
} .u-section-2 {
  min-height: 792px;
}

.u-section-2 .u-image-1 {
  height: 96px;
  margin-top: 696px;
  margin-bottom: 0;
}

.u-section-2 .u-image-2 {
  width: 242px;
  height: 242px;
  animation-duration: 1000ms;
  margin: -269px calc(((100% - 1140px) / 2)) 27px auto;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 803px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 690px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -263px;
    margin-right: calc(((100% - 940px) / 2));
    margin-bottom: 38px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 841px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 746px;
  }

  .u-section-2 .u-image-2 {
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: 558px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1025px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 929px;
  }

  .u-section-2 .u-image-2 {
    margin-bottom: 21px;
    margin-left: 378px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-2 {
    margin-right: 0;
    margin-left: 98px;
  }
}